<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    {{#if user_d}}
        <p>First Name: {{user_d.first_name}}</p>
        <p>Last Name: {{user_d.last_name}}</p>
    {{else}}
        <p>No user logged in.</p>
    {{/if}}
</body>

<a href="/logout">Logout</a>


</html>
